*{
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}

.container{
    margin-bottom: 50px;
}
/* ============================== */

.carousel{
    background: #FEEAE9;
    border-radius: 20px;
}

.carousel-item{
    padding: 20px 40px;
}

.carousel-item h1{
    margin-bottom: 21px;
}

.price{
    color: #FF136F;
    margin-bottom: 18px;
}

.custom_btn{
    background: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
/* ============================================== */
/*  -- Categories -- */

.categories h1{
    margin-bottom: 20px;
}

.categories .cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.categories .cat1, .cat2, .cat3 h1{
    color: #fff;
}

.categories img{
    width: 100px;
}

.categories .cat1{
    background: linear-gradient(to right, #FF9C35 0%, #FFD019 100%);
}

.categories .cat2{
    background: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}

.categories .cat3{
    background: linear-gradient(to right, #4289FF 0%, #3F07F8 100%);
}

/* ===================== */

#shoes .card{
    border: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}
/* ======================== */

#backpack .card{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* =============================================== */

#contact{
    height: 300px;
    background: #FEEAE9;
}

#contact input{
    background: #fff;
    margin-bottom: 10px;
}
/* =============== */